
@{
    ViewData["Title"] = "Admin Ana Ekran";
}

<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8" />
    <link href="~/admin/css/main.css" rel="stylesheet" />
</head>
<br />
<br />
<br />
<br />
<br />
<br />
<p>Envanter Kayıt Sistemenine Hoş Geldiniz</p>
</html>

